body{
	background-color: wheat;
}



.icon{
	width: 2rem;
	height: auto;
	background-image: url('/assets/Images/blightbulb.png');
	background-size: cover;
	background-position: center;
}

/* ? for java, add to this?

#blogs{
} */



/*todo adding img to toggle button. Needs to go in style.css
 button i::before{
	content: url('assets/images/blightbulb.png');

} */

/* .bluelight{
	content: url('assets/Images/blightbulb.png');
} */

/* .toggle i::before{
	content: url('assets\Images\blightbulb.png');
} */