* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	background-color: var(--background);
}



h1{
	font-size: 5rem;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	margin: 0;
}

.main{
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.main *{
	flex: 1;
}

#img{
	border-right: .5rem dotted var(--border);
	text-align: center;
}

form{
	text-align: center;
	display: block;
}

form li{
	margin-top: 1rem;
}

h2{
	font-size: 3rem;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: var(--headers);
	text-align: center;
} 

label{
	font-size: 1.25rem;
	font-family: 'Times New Roman', Times, serif;
	display: block;
	color: #f48197;
}

input{
	font-family: sans-serif;
	font-size: 1rem;
	width: 30rem;
	height: 2rem;
	box-sizing: border-box;
	border: .3rem inset var(--borders);
	background-color: #c2dec8;
}

textarea{
	font-family: sans-serif;
	font-size: 1rem;
	width: 30rem;
	height: 30rem;
	box-sizing: border-box;
	border: .3rem inset var(--borders);
	resize: none;
	background-color: #c2dec8;
}

input:focus,
textarea:focus{
	border: .3rem outset var(--focused);
	outline:none;
}

footer {
	background-color: var(--footer);
	padding: 10px;
}

footer a{
	color: #1ba492;
}

#postBtn{
	background-color: #f48197;
	color: var(--background);
}